header, .main {
  background-color: #a571ff;
  border: 2px dotted;
  text-align: center;
}

.main {
  margin-top: 10px;
  padding: 10px 0px 20px 10px
}

body {
  background-image: url("/users/elizabeth_clarkson/Desktop/ebittyschwinnie.github.io/Image uploaded from iOS.jpg");;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: #ffeb98
}

a:hover {
  color: #fb996f;
}

a:link {
  font-size: 10px;
}

a:visited {
  font-size: 24px;
}

a:active {
  font-size: 10px;
}
