header, .main {
  background-color: #a571ff;
  border: 3px solid rgb(22, 77, 100);
  border-radius: 5px;
  margin-left: 150px;
  padding: 35px 75px 35px 75px;
  text-align: center;
  max-width: 900px;
  min-width: 500px;

}

.main {
  margin-top: 10px;
  margin-left: 150px;
  padding: 35px 75px 35px 75px;
  text-align: center;
}

.main p{
  text-align: left;
}

body {
  background-image: url("/users/elizabeth_clarkson/Desktop/ebittyschwinnie.github.io/Image uploaded from iOS.jpg");;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: #ffeb98
}

a:hover {
  color: #fb996f;
}

a:link {
  font-size: 15px;
}

a:visited {
  font-size: 24px;
}

a:active {
  font-size: 10px;
}

p {
  image: center;
}

img {
  margin-left: 450px;
  padding-top: 50px;
  text-align: center;
}
